{% extends 'home.html' %}

{% block title %}Publications{% endblock %}

{% comment %} {% block publish_post %}
    <a href='/post/publish_post/'>Publish Post </a>
{% endblock %} {% endcomment %}

{% block posts %}
    <div>
        {% for post in posts %}
        <h2>{{post.title}}</h2>
        <div>{{post.text}}</div>
        {% if post.image %}
        </div>
            <img src="{{post.image.url}}"></img>
        </div>
        {% endif %}
        <div>Author: {{post.author}}</div>
        {% endfor %}
    </div>
{% endblock %}